# Symfony Framework
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

# PhpStorm
.idea

# Application
/src/Library/Bundle/AppBundle/Resources/public/bootstrap
/src/Library/Bundle/AppBundle/Resources/public/jquery
/src/Library/Bundle/AppBundle/Resources/public/underscore
/src/Library/Bundle/AppBundle/Resources/public/backbone
