{% extends "LibraryAppBundle::base.html.twig" %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <h2>New User</h2>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            {%  form_theme form "LibraryAppBundle:Form:form_div_horizontal_layout.html.twig" %}
            {{ form_start(form, {'attr': {'role': 'form', 'novalidate': 'novalidate'}}) }}
            <input style="display: none;" name="" type="text">
            <input style="display: none;" name="" type="password">
            {{- form_widget(form) -}}
            {{ form_end(form) }}
        </div>
    </div>

    <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
